/* Setting page style */
*, *::before, *::after {
    box-sizing: border-box;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Setting Start page font size*/
strong {
    font-size: 30px;
}

/* Setting questions to be centered over buttons*/
#question {
    text-align: center;
}

 /* Placeing containters */
 h1,h2, p {
     text-align: center;
 }


.topright {
    position: absolute;
    top: 8px;
    right: 16px;
}

.topLeft {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Setting everything center and in aligment */
body {
 padding: 0;
 margin: 0; 
 display: flex;
 width: 100vw;
 height: 100vh;
 justify-content: center;
 align-items: center;
}

/* Setting Container */
.container {
    width: 800px;
    max-width: 90%;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.timingContainer {
    width: 400px;
    max-width: 90%;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

.scoreContainer {
    width: 400px;
    max-width: 90%;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px 2px;
}

/* Allowing for the buttons to be in a grid evenly spaced */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
/* Set button style */
.btn {
    
    background-color:blueviolet;
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0rem 0.4rem 0.8rem 0rem aqua;
   }

 /*Formates Start and Finsish buttons */
.start-btn, .finish-btn {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 18Px;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  Setting up the ablity to hide buttons" */
.hide {
    display: none;
}

/* Changing Button color if selected correct or wrong */

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: red;
}

@media screen and (max-with:800px) {
    .container {
     min-width: 200px;
      
    }    
    .timingContainer {
       min-width: 100px;
    }    
    .scoreContainer {
      min-width: 100px;
    }
    
}